ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.a-hover{
    color: white;
}

.a-hover:hover{
    color: rgb(241, 89, 33);
}

.text-black{
    color: black;
}

.text-black:hover{
    color: yellow;
}